{{define "title"}} | Admin{{end}}

{{define "content"}}
<div class="AllResponse">
{{ range $index, $value := .AllResponse }}
    <div class="Response">
        <div class="image">
            <img src="{{$.ImageUrl}}" alt="image">
        </div>
        <div class="content">
            <div class="PostName">{{ index $.AllSlug $index }} </div>
            <div class="AdminResponse">{{ $value.Text }} </div>
        </div>
        <div class="time" >
            {{ $value.ModifiedDate }}
        </div>
    </div>
    {{end}}
</div>
    <style>
        .image {
            display: flex;
            justify-content:end;
            border: 1px blueviolet solid;
            width: 20%;
            height: 30%;
            border-radius: 40%;
            margin-right: 5px;
        }
        .AllResponse {
            display: flex;
            flex-direction: column ;
            margin-top: 10%;
        }
        .Response {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px;
            width: 500px;
            height: 200px;
            border: 1px solid rgb(180, 183, 185);
            padding: 10px;
        }
        .content {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 100%;
            height: 100%;
            align-items: center;
            padding: 10px;

        }
        .time {
            margin-left: 5px;
        }
    </style>

{{end}}