{{define "title"}} | Admin{{end}}

{{define "content"}}
{{ range .Reports}}
<div class="container">
    <div class="img">
        <img src="{{.ImageUrl}}" alt="">
    </div>
    <div class="content">
        <div class="Username">
            <a href="post/{{.ReportedID}}">{{.ReportedName}}</a>
        </div>
        <div class="Description">
            <a href="post/{{.ReportedID}}">{{.Cause}}</a>
        </div>
    </div>
    <div class="buttons">
        <button></button>
        <button></button>
    </div>
</div>
{{ end }}
<style>

</style>
{{end}}