{{define "title"}} | Not Found{{end}}

{{define "content"}}
<main class="error">
    <h1>
        <pre>
 ______                               
|  ____|                              
| |__     _ __   _ __    ___    _ __  
|  __|   | '__| | '__|  / _ \  | '__| 
| |____  | |    | |    | (_) | | |    
|______| |_|    |_|     \___/  |_|    
        </pre>
    </h1>
    <h2>40<span>4</span></h2>
    <p>The page you are looking for can't be found.</p>
    <a class="btn alt" href="/">Back to Homepage</a>
</main>
{{end}}