{{define "title"}} | Edit User{{end}}

{{define "content"}}
<section class="wfull center">
    <section class="w2-5 col">
        <h1>Settings</h1>
        <p>
            Here you can edit your profile, change your preferences, export your data and manage billing detials
        </p>
        <div class="row center wfull">
            <div class="row w4-5 space-between mt-1 mb-1">
                <a href="#">Profile</a>
                <a class="black" href="#">Password</a>
                <a class="black" href="#">Profile</a>
            </div>
        </div>
        <div class="row mb-1 center">
            <img src="{{.CurrentUser.AvatarURL}}" alt="" class="avatar bigger">
            <div class="col ml-1">
                <div class="row center">
                    <p class="mb-0">Choose file to:</p>
                    <button class="alt ml-1">Upload</button>
                </div>
                <p class="small">At least 256x256 PNG or JPG file</p>
            </div>
        </div>
        <form action="/edit-user" method="post" class="wfull mt-1">
            <label for="">Username:</label>
            <input placeholder="Username" type="text" name="username" id="username" value="{{.CurrentUser.Username}}">
            <label for="">Email:</label>
            <input placeholder="Email address" type="email" name="email" id="email" value="{{.CurrentUser.Email}}">
            <div class="row space-between center wfull">
                <button class="mb-1 mt-1" type="submit">Save changes</button>
                <p class="mb-0">Your profile: <a href="#">tookapic.com/{{.CurrentUser.Username}}</a></p>
            </div>
        </form>
    </section>
</section>
{{end}}