{{define "title"}} | Trending{{end}}

{{define "content"}}
<main>
    <section class="mt-1">
        <section class="col w2-3 mr-1">
            <div class="row wfull space-between mb-1">
                <div class="col">
                    <h1>Trending Posts</h1>
                    <p>View all {{ .NumberOfPosts }} discussions</p>
                </div>
                {{if .IsLoggedIn}}
                <button onclick="openModal()">Create New Post</button>
                {{else}}
                <a href="/sign-in-page" class="btn">Create New Post</a>
                {{end}}
            </div>
            <div class="col wfull mt-1 ml-1">
                {{range .Post}}
                <article class="list">
                    <div class="row center">
                        <img class="avatar big mr-1" src="{{ .ImageURL }}" alt="">
                        <div class="col ml-1 new">
                            <a class="black wfull" href="/posts/{{ .Slug }}">
                                <h2>
                                    {{ .Title }}
                                </h2>
                            </a>
                            <div class="row">
                                <span>{{ .AuthorName }}</span>
                                <span>{{ .LastEditionDate }}</span>
                                <span>{{ .NumberOfComments }} replies</span>
                            </div>
                        </div>
                    </div>
                    <div class="avatars">
                        {{range .ListOfCommentator}}
                        <img class="avatar" src="{{ . }}" alt="">
                        {{end}}
                    </div>
                </article>
                {{end}}
                {{if ne .Limit -1}}
                <a href="/trending?limit={{ .Limit }}" class="btn alt">Load more</a>
                {{end}}
            </div>
        </section>
        <section class="col w1-3">
            <h1>Top Streaks</h1>
            <p class="mb-1">Take and publish photos consecutive days to earn your streak.</p>
            {{ range .TopUsers }}
            <div class="row center mb-1">
                <img class="avatar small mr-1" src="{{.AvatarURL}}" alt="">
                <p class="mr-1">{{.Email}}</p>
                <a href="#" class="mr-1">
                    <span class="like"></span>
                </a>
                <span>{{.NumberOfReaction}}</span>
            </div>
            {{ end }}
        </section>
    </section>
</main>
{{end}}