{{define "title"}} | {{ .Post.Title }}{{end}}

{{define "content"}}
<main>
    <section class="row">
        <section class="w3-5">
            <article class="post">
                <img src="{{ .Post.ImageURL }}" alt="">
                <h1>{{ .Post.Title }}</h1>
                <p class="black mb-1">
                    {{ .Post.Description }}
                </p>
                <div class="row">
                    <p>Published {{.Post.ModifiedDate}}</p>
                </div>
            </article>
        </section>
        <section class="w2-5 col">
            <div class="row mb-1">
                <img src="{{ .UserPoster.AvatarURL }}" alt="" class="avatar big">
                <div class="col ml-1">
                    <h3>{{ .UserPoster.Username }}</h3>
                    <span class="green">Online</span>
                    <p>Published {{.Post.ModifiedDate}}</p>
                </div>
            </div>
            <div class="row center mb-1">
                <p class="mr-1">
                    272
                    <a href="#">
                        ❤️
                    </a>
                </p>
                <p class="mr-1">
                    3.5k
                    <span>
                        👁️
                    </span>
                </p>
                <p>
                    Mark
                    <a href="#">
                        🔖
                    </a>
                </p>
            </div>
            {{if .IsLoggedIn}}
            <div class="col block mb-1 wfull">
                <form action="/comment/{{.Post.ID}}" method="POST" class="wfull m-0">
                    <textarea placeholder="Type your comment here..." name="" id="" cols="30" rows="5"></textarea>
                    <div class="row center mb-0">
                        <button>Comment</button>
                        <p class="mb-0 ml-1">Use @ to mention other users</p>
                    </div>
                </form>
            </div>
            {{end}}
            <div class="col block mt-1 wfull">
                <h2 class="mb-1">{{ .NbrComment }} Comments</h2>
                {{range .Comments}}
                <div class="row wfull">
                    {{.Depth}}
                    {{if eq .Index 0}}
                    <div class="col mb-1">
                    {{else}}
                    <div class="col mb-1 pl-1 border-left">
                    {{end}}
                            <div class="row center">
                                <img class="avatar small mr-1" src="{{.AuthorAvatar}}" alt="">
                                <p class="mr-1">{{.AuthorName}}</p>
                            </div>
                            <p class="black">
                                {{ .Text }}
                            </p>
                            <div class="row center">
                                <p class="mb-0">
                                    2
                                    <a href="#">
                                        ❤️
                                    </a>
                                </p>
                                <a class="ml-1 mr-1" href="#">Reply</a>
                                <p class="mb-0">{{.LastModifiedDate}}</p>
                            </div>
                        </div>
                    </div>
                    {{end}}
                    <!-- <div class="row">
                    <span class="ml-1"></span>
                    <span class="ml-1"></span>
                    <div class="col mb-1 pl-1 border-left">
                        <div class="row center">
                            <img class="avatar small mr-1" src="./img/avatar.6.jpg" alt="">
                            <p class="mr-1">Pawel Kadysz</p>
                        </div>
                        <p class="black">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quas.
                        </p>
                        <div class="row center">
                            <p class="mb-0">
                                2
                                <a href="#">
                                    ❤️
                                </a>
                            </p>
                            <a class="ml-1 mr-1" href="#">Reply</a>
                            <p class="mb-0">3 min ago</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span class="ml-1"></span>
                    <span class="ml-1"></span>
                    <span class="ml-1"></span>
                    <span class="ml-1"></span>
                    <div class="col mb-1 pl-1 border-left">
                        <div class="row center">
                            <img class="avatar small mr-1" src="./img/avatar.7.jpg" alt="">
                            <p class="mr-1">Pawel Kadysz</p>
                        </div>
                        <p class="black">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quas.
                        </p>
                        <div class="row center">
                            <p class="mb-0">
                                2
                                <a href="#">
                                    ❤️
                                </a>
                            </p>
                            <a class="ml-1 mr-1" href="#">Reply</a>
                            <p class="mb-0">3 min ago</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <div class="row center">
                            <img class="avatar small mr-1" src="./img/avatar.8.jpg" alt="">
                            <p class="mr-1">Pawel Kadysz</p>
                        </div>
                        <p class="black">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quas.
                        </p>
                        <div class="row center">
                            <p class="mb-0">
                                2
                                <a href="#">
                                    ❤️
                                </a>
                            </p>
                            <a class="ml-1 mr-1" href="#">Reply</a>
                            <p class="mb-0">3 min ago</p>
                        </div>
                    </div>
                </div> -->
                </div>
        </section>
    </section>
</main>
{{end}}